<!DOCTYPE html>
<html>
<head>
  <title>{{ client.name }}</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css?v=1.1">

  {% if envStyleSheets %}
  {% for sheet in envStyleSheets %}
  <link rel="stylesheet" type="text/css" href="{{sheet}}">
  {% endfor %}
  {% endif %}

  {% if clientStylesheets %}
  {% for sheet in clientStylesheets %}
  <link rel="stylesheet" type="text/css" href="{{sheet.url}}">
  {% endfor %}
  {% endif %}

  {% if clientThemeStylesheet %}
  <link rel="stylesheet" type="text/css" href="/css/theme-{{clientThemeStylesheet}}.css">
  {% endif %}



  {% if favicon %}
  <link rel="icon" href="{{ favicon }}">
  {% endif %}

  {% if inlineCSS %}
  <style>{{inlineCSS}} </style>
  {% endif %}

  {% if clientAccentColor %}
  <style>
    .centered-page .row-flex .btn-primary[type="submit"] {
      background: {{clientAccentColor}};
    }
  </style>
  {% endif %}

  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js?v=1.1"></script>
</head>
<body class="centered-page">
  <div class="flex-container">
    <div class="row-flex">
      <div class="flex-item"> {% include 'elements/logo.html' %}</div>
      <div class="flex-item"> {% include 'elements/flash.html' %}</div>
      <div class="flex-item">{% block body %}{% endblock %}</div>
      </div>
    </div>
  </div>

</body>
</html>
